#app {
  /* max-width: 1500px; */
  width: 70%;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}


#logo {
  
  max-width: 450px;
  margin: 20px;
  height: auto;
  border-bottom: 3px solid var(--secondary-color);
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;

  img {
    animation: spin 60s linear infinite;
    width: 75%;
  }
}

#cards {

  #card0::before {
    background-color: var(--blue-card);
  }

  #card1::before {
    background-color: var(--green-card);
  }

  #card2:before {
    background-color: var(--yellow-card);
  }

  #card3:before {
    background-color: var(--orange-card);
  }

  #card4:before {
    background-color: var(--red-card);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}